<h1>Hey</h1>
<% if flash[:error] %>
  <p style="color:red;"><%= flash[:error] %></p>
<% end %>
<p>You're signed in as <%= current_user.email %>.</p>

<p>Your groups:</p>

<ol>
  <% current_user.groups.each do |group| %>
    <li>
      <%= group.name %>. <%= link_to "Leave group",
        "/users/remove_from_group/#{group.id}",
        method: 'delete' %>.
    </li>
  <% end %>
</ol>

<p>All groups:</p>
<ol>
  <% @groups.each do |group| %>
    <li>
      <%= group.name %>. <%= link_to "Join Group",
      "/users/add_to_group/#{group.id}", method: 'post' %>
    </li>
  <% end %>
</ol>
<p>
  <%= link_to "Create a group", groups_new_path %>
</p>

<p>
  <%= link_to "Log out", destroy_user_session_path, method: 'delete' %>
</p>
